.novo-estilo{color: #ffffff;}
.novo-estilo{background-color: #FF8800;}
.novo-estilo:hover {background-color: #EE5500;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    transform: rotate(90deg);
    height: 0px;
    opacity: 100;
}

.quantity-wrapper {
    position: relative;
}

.quantity-wrapper:after {
    /*
    content: "+";
    */
    position: absolute;
    right: 5px;
    height: 100%;
    top: 8px;
    pointer-events: none;
    
}

.quantity-wrapper:before {
    /*
    content: "-";
    */
    position: absolute;
    left: 5px;
    height: 100%;
    top: 8px;
}
