<div class="container">
    <br />

    <br />

    <div class="row">
        <table class="table table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Quantidade total</th>
                    <th scope="col">Preço total</th>
                    <th scope="col">Data do pedido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{encomenda.id}}</th>
                    <td>{{getUltimoEstado(encomenda.encomenda_estados)}}</td>
                    <td>{{getQtdTotal(encomenda.encomenda_doces)}}</td>
                    <td>R$: {{getPrecoTotal(encomenda.encomenda_doces)}}</td>
                    <td>{{encomenda.data | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <h3>
        Itens da encomenda
    </h3>
    <div class="row">
        <table class="table table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço un</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let encomenda_doce of encomenda.encomenda_doces">
                    <th scope="row">{{encomenda_doce.doce.id}}</th>
                    <td><img src="{{encomenda_doce.doce.foto}}" class="card-img"
                            style="max-height: 55px; max-width: 70px;" alt="{{encomenda_doce.doce.nome}}"></td>
                    <td>{{encomenda_doce.doce.nome}}</td>
                    <td>{{encomenda_doce.doce.descricao}}</td>
                    <td>{{encomenda_doce.quantidade}}</td>
                    <td>R$: {{encomenda_doce.doce.preco}}</td>
                    <td>R$: {{encomenda_doce.preco_un*encomenda_doce.quantidade}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <h3>
        Histórico de estados da encomenda
    </h3>
    <div class="row">
        <table class="table table-dark table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estado of encomenda.encomenda_estados;">
                    <th scope="row">{{estado.estado}}</th>
                    <td>{{estado.data | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>